map $http_x_forwarded_port $proxy_x_forwarded_port {
  default ":$http_x_forwarded_port";
  ''      '';
}
server {
    server_name "~^(.*)$";

    access_log  off;
    error_log off;

    if ($http_x_forwarded_proto = "https") {
        return ${REDIRECT_CODE} https://${REDIRECT_SUBDOMAIN}.$host$proxy_x_forwarded_port$request_uri;
    }
    return ${REDIRECT_CODE} $scheme://${REDIRECT_SUBDOMAIN}.$host$proxy_x_forwarded_port$request_uri;
}
